.App {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: cornflowerblue;
  color: aliceblue;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
}
